In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('train.csv')
df

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [3]:
df.shape

(1460, 81)

In [4]:
df.head(10)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
5,6,50,RL,85.0,14115,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,MnPrv,Shed,700,10,2009,WD,Normal,143000
6,7,20,RL,75.0,10084,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,307000
7,8,60,RL,NaN,10382,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,Shed,350,11,2009,WD,Normal,200000
8,9,50,RM,51.0,6120,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2008,WD,Abnorml,129900
9,10,190,RL,50.0,7420,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,1,2008,WD,Normal,118000

In [5]:
types = pd.DataFrame(df.dtypes).rename(columns={0: 'type'}).sort_values(by=['type'],ascending=False)
types

                type
HeatingQC     object
Fence         object
ExterQual     object
FireplaceQu   object
Foundation    object
...              ...
FullBath       int64
HalfBath       int64
BedroomAbvGr   int64
KitchenAbvGr   int64
SalePrice      int64

[81 rows x 1 columns]

In [6]:
df.isnull().sum()

Id                 0
MSSubClass         0
MSZoning           0
LotFrontage      259
LotArea            0
                ...
MoSold             0
YrSold             0
SaleType           0
SaleCondition      0
SalePrice          0
Length: 81, dtype: int64

In [7]:
print (df.isin([' ','NULL',0]))
print (df.isin([' ','NULL',0]).mean())
df = df.loc[:, df.isin([' ','NULL',0]).mean() < .6]
len(df.columns)

         Id  MSSubClass  MSZoning  LotFrontage  LotArea  Street  Alley  \
0     False       False     False        False    False   False  False
1     False       False     False        False    False   False  False
2     False       False     False        False    False   False  False
3     False       False     False        False    False   False  False
4     False       False     False        False    False   False  False
...     ...         ...       ...          ...      ...     ...    ...
1455  False       False     False        False    False   False  False
1456  False       False     False        False    False   False  False
1457  False       False     False        False    False   False  False
1458  False       False     False        False    False   False  False
1459  False       False     False        False    False   False  False

      LotShape  LandContour  Utilities  ...  PoolArea  PoolQC  Fence  \
0        False        False      False  ...      True   False  False
1        False        False      False  ...      True   False  False
2        False        False      False  ...      True   False  False
3        False        False      False  ...      True   False  False
4        False        False      False  ...      True   False  False
...        ...          ...        ...  ...       ...     ...    ...
1455     False        False      False  ...      True   False  False
1456     False        False      False  ...      True   False  False
1457     False        False      False  ...      True   False  False
1458     False        False      False  ...      True   False  False
1459     False        False      False  ...      True   False  False

      MiscFeature  MiscVal  MoSold  YrSold  SaleType  SaleCondition  SalePrice
0           False     True   False   False     False          False      False
1           False     True   False   False     False          False      False
2           False     True   False   False     False          False      False
3           False     True   False   False     False          False      False
4           False     True   False   False     False          False      False
...           ...      ...     ...     ...       ...            ...        ...
1455        False     True   False   False     False          False      False
1456        False     True   False   False     False          False      False
1457        False    False   False   False     False          False      False
1458        False     True   False   False     False          False      False
1459        False     True   False   False     False          False      False

[1460 rows x 81 columns]
Id               0.0
MSSubClass       0.0
MSZoning         0.0
LotFrontage      0.0
LotArea          0.0
                ...
MoSold           0.0
YrSold           0.0
SaleType         0.0
SaleCondition    0.0
SalePrice        0.0
Length: 81, dtype: float64

72

In [8]:
df.fillna(df.mean(), inplace=True)

C:\Users\asus\AppData\Local\Temp/ipykernel_7512/820435583.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.fillna(df.mean(), inplace=True)
c:\Users\asus\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [9]:
df = pd.get_dummies(df,drop_first=True)
df

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,SaleType_ConLI,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,1,60,65.0,8450,7,5,2003,2003,196.0,706,...,0,0,0,0,1,0,0,0,1,0
1,2,20,80.0,9600,6,8,1976,1976,0.0,978,...,0,0,0,0,1,0,0,0,1,0
2,3,60,68.0,11250,7,5,2001,2002,162.0,486,...,0,0,0,0,1,0,0,0,1,0
3,4,70,60.0,9550,7,5,1915,1970,0.0,216,...,0,0,0,0,1,0,0,0,0,0
4,5,60,84.0,14260,8,5,2000,2000,350.0,655,...,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,62.0,7917,6,5,1999,2000,0.0,0,...,0,0,0,0,1,0,0,0,1,0
1456,1457,20,85.0,13175,6,6,1978,1988,119.0,790,...,0,0,0,0,1,0,0,0,1,0
1457,1458,70,66.0,9042,7,9,1941,2006,0.0,275,...,0,0,0,0,1,0,0,0,1,0
1458,1459,20,68.0,9717,5,6,1950,1996,0.0,49,...,0,0,0,0,1,0,0,0,1,0
1459,1460,20,75.0,9937,5,6,1965,1965,0.0,830,...,0,0,0,0,1,0,0,0,1,0

In [10]:
X = df.iloc[:, :-1]
Y = df.iloc[:, -1]

In [11]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=0)

In [12]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [16]:
from sklearn import svm
from sklearn.metrics import r2_score


model = svm.SVR()
model.fit(X_train,y_train)
y_pred = model.predict(X_test)
print("r2 score:", r2_score(y_pred,y_test))

r2 score: 0.7019404403642876

In [17]:
model = svm.SVR(kernel = 'poly')
model.fit(X_train,y_train)
y_pred = model.predict(X_test)
print("r2 score:", r2_score(y_pred,y_test))

r2 score: 0.5289996480923358

In [19]:
model = svm.SVR(kernel = 'linear')
model.fit(X_train,y_train)
y_pred = model.predict(X_test)
print("r2 score:", r2_score(y_pred,y_test))

r2 score: 0.8740335371465666

In [20]:
model = svm.SVR(kernel = 'sigmoid')
model.fit(X_train,y_train)
y_pred = model.predict(X_test)
print("r2 score:", r2_score(y_pred,y_test))

r2 score: 0.47509165334503756

In [27]:
model = svm.SVR(kernel = 'linear', C = 10.0)
model.fit(X_train,y_train)
y_pred = model.predict(X_test)
print("r2 score:", r2_score(y_pred,y_test))

r2 score: 0.8728119199329822